@model WebShop.Models.Profile

@{
    ViewData["Title"] = "Details";
}

<h1>Profiel overzicht</h1>

<div>
    <h4>Profiel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Insertion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Insertion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseNumberAddition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseNumberAddition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileType)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Wijzig", "Edit", new { id = Model.ID }) |
</div>
